# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @SeanKilleen

# Sub-sections of articles that have clear ownership
# NOTE: Sean is assigned so that he'll be added for review on each PR to these areas. He may merge the PR if it is purely related to docs concerns (typo, formatting, etc.)

/docs/articles/vs-test-adapter/ @OsirisTerje @SeanKilleen
/docs/articles/vs-test-adapter/ @OsirisTerje @SeanKilleen

/docs/articles/nunit-analyzers/ @mikkelbu @SeanKilleen

/docs/articles/xamarin-runners/ @ChrisMaddock @SeanKilleen

/docs/articles/nunit/ @ChrisMaddock @rprouse @SeanKilleen
